<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WarehouseApp</title>
    <link rel="stylesheet" href="/style/style.css">
</head>

<body>
    <section class="hero is-primary is-fullheight is-hero-image">
        <!-- Hero head: will stick at the top -->
        <div class="hero-head">
            <nav class="navbar is-transparent">
                <div class="container">
                    <div class="navbar-brand">
                        <div class=" logo-brand">
                            <a href="index.html">
                                WarehouseApp
                            </a>
                        </div>
                        <span class="navbar-burger burger" data-target="navbarMenuHeroA">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                    </div>
                    <div id="navbarMenuHeroA" class="navbar-menu">
                        <div class="navbar-start">
                            <a class="navbar-item">
                                Produkty
                            </a>
                            <a class="navbar-item">
                                Kontakt
                            </a>
                            <a class="navbar-item">
                                Login
                            </a>
                            <a class="navbar-item is-blue">
                                Rejestracja
                            </a>

                        </div>
                    </div>
                </div>
            </nav>
        </div>

        <!-- Hero content: will be in the middle -->
        <div class="hero-body">
            <div class="container">
                <div class="columns">
                    <div class="column is-6 hero-message">
                        <h1 class="title is-1">
                            Wyszukaj produkt który Cię interesuje
                        </h1>
                        <form action="">
                            <div class="field has-addons is-not-auto">
                                <div class="control has-icons-left">
                                    <input class="input is-medium" type="text">
                                    <span class="icon is-medium is-left">
                                        <i class="ion-home"></i>
                                    </span>
                                </div>
                                <div class="control">
                                    <a class="button is-medium is-info">
                                        Search
                                    </a>
                                </div>
                            </div>
                        </form>
                        <div class="tags-search">
                            <span class="tag is-rounded is-light">Bloczki murarskie</span>
                            <span class="tag is-rounded is-light">Materiały sypkie</span>
                            <span class="tag is-rounded is-light">Akcesoria</span>

                            <span class="tag is-rounded is-light">...</span>
                        </div>
                    </div>
                    <div class="column is-5 has-text-centered">
                        <figure class="image warehouse-logo">
                            <img src="img/warehouse.svg" alt="WarehouseApp logo">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hero Footer -->
        <!--    <div class="hero-footer">
          <nav class="tabs is-fullwidth tabs-subsection">
            <div class="container">
              <ul>
                <li>
                 
                  <a><i class="ion-grid"> </i> All Categories</a>
                    
                  </li>
                <li>
                  
                  <a><i class="ion-ios-home"></i> Home</a>
                    
                  </li>
                <li>
                  
                  <a><i class="ion-briefcase"></i>Business</a>
                    
                  </li>
                <li>
                 
                  <a><i class="ion-ios-camera"></i>Photography</a>
                    
                  </li>
                <li>
                 
                  <a><i class="ion-ios-bookmarks-outline"></i> Lessons</a>
                    
                  </li>
                <li>
                  
                  <a><i class="ion-ios-game-controller-b-outline"></i> Entertainment</a>
                    
                  </li>
              </ul>
            </div>
          </nav>
        </div> -->
    </section>
</body>

</html>