<!DOCTYPE html>
<html lang="pl-PL">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=1024">
    <title>Magazyn</title>
    <link rel="stylesheet" type="text/css" href="css/bulma.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="https://kit.fontawesome.com/1081b136fd.js" crossorigin="anonymous"></script>
</head>

<body>
    <section class="hero is-large is-info">
        <div class="container is-fluid hero-body">
            <h1 class="main-header title is-1">Magazyn - "Our Warehouses"</h1>
            <div class="buttons">
                <button class="button is-primary">Zaloguj</button>
                <button class="button is-link" href="register.html" target="_blank">Zarejestruj</button>
            </div>
        </div>
    </section>
</body></html>
