<!DOCTYPE html>
<html lang="pl-PL">

<head>
    <meta charset="UTF-8">
    <title>Magazyn - Towary</title>
    <link rel="stylesheet" href="css/bulma.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <script src="https://kit.fontawesome.com/1081b136fd.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container">
        <h2 class="title">Towary</h2>
        <h4 class="subtitle">Twórz i zarządzaj towarami w jednym miejscu</h4>
        <hr class="underline">
        <button class="button is-info">Stwórz nową kategorię</button>
        <button class="button is-success">Dodaj nowy towar</button>
    </div>
</body></html>